.message-item-wrapper {
  width: calc(100% - 20px);
  display: flex;
  justify-content: baseline;
  padding: 0 10px;
  margin-top: 17px;
}

.message-item-wrapper.simple {
  align-items: baseline;
  margin-top: 0;
}

.message-time {
  font-size: 10px;
  letter-spacing: 0.05em;
  min-width: 55px;
  max-width: 55px;
  margin-right: 1px;
  text-align: center;
  color: #949ba4;
  visibility: hidden;

  position: relative;
  top: -5px;
}

.profile-pic-wrapper {
  min-width: 55px;
  max-width: 55px;
  display: flex;
  justify-content: center;
}

.message-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.message-header {
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: end;
  align-content: end;
  flex-wrap: wrap;
  margin-left: 5px;
}

.message-time.long {
  max-width: 100%;
  width: auto;
  visibility: visible;
  position: relative;
  top: 0;
  margin-left: 0.25rem;
}

.author-username {
  margin-right: 0.25rem;
  font-size: 16px;
  color: #f2f3f5;
  font-weight: bold;
}

.message-item-wrapper:hover {
  background: #2e3035;
}

.message-item-wrapper:hover .message-time {
  visibility: visible;
}

.message-body {
  padding: 2px 0;
  font-size: 16px;
  color: #dbdee1;
  flex-basis: 90%;
  line-height: 1.6;
  margin-left: 5px;
}

.time-divider {
  min-width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.divider-border {
  width: 100%;
  border-top: 1px solid #3f4147;
}

.divider-date {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 0 5px;
  color: #949ba4;
  background: #313338;
  position: relative;
  top: -5px;
}

.first-server-message, .first-channel-message {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 16px;
}

.first-server-message {
  padding: 16px 16px 0;
  justify-content: center;
  align-items: center;
}

.first-message-header {
  font-size: 32px;
  font-weight: 900;
  color: #f2f3f5;
  height: 40px;
}

.first-message-subtext {
  font-size: 14px;
  color: #b5bac1;
  margin-top: 8px;
}

.large-channel-icon {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background: #41434a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;;
}

.first-message-header.channel {
  margin: 8px 0;
}

.first-message-subtext.channel {
  margin: 0;
  font-size: 16px;
}

.channel-settings {
  margin-top: 16px;
}

.edit-channel-button {
  background: none;
  font-size: 16px;
  padding: 6px;
  margin: 0;
  width: 125px;
  height: 32px;
  color: #00a8fc;
  font-weight: normal;
}

.edit-channel-button:hover {
  background: #393c41;
  cursor: pointer;
}

.edit-button-icon {
  display: inline;
  margin-right: 6px;
}