.signup-link {
  font-size: 14px;
  margin-top: 4px;
  color: #949ba4;
}

.demo-container {
  display: flex;
  flex-direction: column;
}

.demo-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.demo-button {
  width: 45%;
  height: fit-content;
}

.demo-text {
  font-size: 14px;
  color: #b5bac1;
  margin-bottom: 8px;
}

.unauthorized-message {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fa777c;
  margin-bottom: 10px;
}