.signup-link {
  font-size: 14px;
  margin-top: 4px;
  color: #949ba4;
}

.demo-container {
  display: flex;
  justify-content: space-between;
}

.demo-button {
  width: 45%;
}

.unauthorized-message {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fa777c;
  margin-bottom: 10px;
}