.server-tooltip {
  position: fixed;
  left: 80px;
  z-index: 5;

  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: #dbdee1;
  text-align: center;
  background-color: black;
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  animation: tooltip .2s ease-in;
}

.server-tooltip:before{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.action-tooltip {
  position: fixed;
  z-index: 5;

  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #dbdee1;
  font-weight: bold;
  text-align: center;
  background-color: black;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  animation: tooltip .2s ease-in;
}

.action-tooltip:before{
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.nav-tooltip {
  position: fixed;
  z-index: 5;

  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #dbdee1;
  font-weight: bold;
  text-align: center;
  background-color: black;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  animation: tooltip .2s ease-in;
}

.nav-tooltip:before{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

@keyframes tooltip {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}