.server-tooltip {
  position: fixed;
  left: 80px;
  z-index: 5;

  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;

  font-weight: bold;
  color: #dbdee1;
}

.server-tooltip:after{
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  z-index: 4;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid black;
  left: -6px;
  top: 10px;
}